<!-- N_trail_dashboard/templates/locations.html -->
{% extends 'base.html' %}

{% block content %}
<h1>All Locations</h1>

<!-- Display Locations Table -->
<table border="1">
  <tr>
    <th>Location ID</th>
    <th>State</th>
    <th>County</th>
    <th>Owner</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Contact</th>
    <th>Metadata</th>
    
  </tr>
  {% for location in location %}
  <tr>
    <td>{{ location.Location_ID }}</td>
    <td>{{ location.State }}</td>
    <td>{{ location.County }}</td>
    <td>{{ location.Owner }}</td>
    <td>{{ location.Latitude}}</td>
    <td>{{ location.Longitude}}</td>
    <td>{{ location.Contact }}</td>
    <td>{{ location.MetaData }}</td>
   
  </tr>
  {% endfor %}
</table>
{% endblock %}
