{% load custom_filters %}

{% block content %}
<h1 class="text-center">Treatments for Experiment: {{ experiment.Experiment_ID }}</h1>

<form id="treatments-form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table border="1">
    <thead>
      <tr>
        <th>Treatment ID</th>
        <th>Experiment ID</th>
        <th>Interaction 1 Value</th>
        <th>Interaction 2 Value</th>
        <th>Interaction 3 Value</th>
        <th>No of Replications</th>
        <th>Metadata</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="treatments-table">
      {% for treatment in treatments %}
      <tr id="treatment-row-{{ treatment.Treatment_ID }}">
        <td>{{ treatment.Treatment_ID }}</td>
        <td>{{ experiment.Experiment_ID }}</td>
        <td>
          <input type="text" name="interaction_1_value_{{ treatment.Treatment_ID }}" value="{{ treatment.Interaction_1_Value }}" disabled>
        </td>
        <td>
          <input type="text" name="interaction_2_value_{{ treatment.Treatment_ID }}" value="{{ treatment.Interaction_2_Value }}" disabled>
        </td>
        <td>
          <input type="text" name="interaction_3_value_{{ treatment.Treatment_ID }}" value="{{ treatment.Interaction_3_Value }}" disabled>
        </td>
        <td>
          <input type="text" name="no_of_replication_{{ treatment.Treatment_ID }}" value="{{ treatment.No_of_Replication }}" disabled>
        </td>
        <td>
          <input type="text" name="metadata_{{ treatment.Treatment_ID }}" value="{{ treatment.MetaData }}" disabled>
        </td>
        <td>
          <button type="button" onclick="enableEditing('{{ treatment.Treatment_ID }}')">Modify</button>
          <button type="button" onclick="deleteTreatment('{{ treatment.Treatment_ID }}')">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="button" onclick="addNewRow()">Add Row</button>
  <button type="button" onclick="submitTreatments()">Submit All</button>

    <!-- Dummy table for selecting units -->
    <table border="1" style="margin-top: 20px;">
      <thead>
        <tr>
          <th>Treatment ID</th>
          <th>Replication ID</th>
          <th>Plot ID</th>
          <th>Yield - Select Units (Dropdown)
             <select id="units-select" name="units-select">
            <option value="u1">u1</option>
            <option value="bushels/acre">bushels/acre</option>
            <option value="u3">u3</option>
          </select>
          </th>
        </tr>
      </thead>
    </table>
  <button type="button" onclick="downloadCSV()">Download CSV</button>
</form>

<!-- Form for uploading CSV -->
<form id="upload-form" method="post" enctype="multipart/form-data" action="{% url 'upload_treatment_csv' experiment.Experiment_ID %}">
  {% csrf_token %}
  <input type="file" name="csv_file" id="csv_file" accept=".csv" onchange="handleFileUpload(event)">
  <button type="submit">Upload CSV</button>
  <div id="uploaded-file-info" style="display: {% if uploaded_file_name %}block{% else %}none{% endif %};">
    <!-- <p>Uploaded file: <a id="uploaded-file-link" href="{{ uploaded_file_path }}" download>{{ uploaded_file_name }}</a></p> -->
  </div>
</form>

<div id="success-message" style="display: none;"></div>
<div id="error-message" style="display: none;"></div>

<div class="view-options">
  <label for="view-select">Plots View:</label>
  <select id="view-select" onchange="toggleView()">
    <option value="consolidated">Consolidated View</option>
    <option value="distributed">Distributed View</option>
  </select>
  <button type="button" onclick="toggleView()">Apply View</button>
</div>

<div id="plot-tables-section" class="flex-container" style="display: none;">
  {% for treatment in treatments %}
  <div id="plot-table-{{ treatment.Treatment_ID }}" class="card">
    <h3>Treatment-{{ treatment.Treatment_ID }}</h3>
    <p>Interaction Values: {{ treatment.Interaction_1_Value }}, {{ treatment.Interaction_2_Value }}</p>
    <p>Units: <span class="units-value">{{ units }}</span></p>
    <table border="1">
      <thead>
        <tr>
          <th>Replication ID</th>
          <th>Plot ID</th>
          <th>Yield</th>
        </tr>
      </thead>
      <tbody>
        {% for i in treatment.No_of_Replication|range_filter %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><input type="text" name="plot_id_{{ treatment.Treatment_ID }}_{{ forloop.counter }}" value="{% if plot_data %}{{ plot_data.treatment_id.forloop.counter.plot_id }}{% endif %}" id="plot_id_{{ treatment.Treatment_ID }}_{{ forloop.counter }}"></td>
          <td><input type="text" name="yield_{{ treatment.Treatment_ID }}_{{ forloop.counter }}" value="{% if plot_data %}{{ plot_data.treatment_id.forloop.counter.yield }}{% endif %}" id="yield_{{ treatment.Treatment_ID }}_{{ forloop.counter }}"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="button" onclick="savePlotTable('{{ treatment.Treatment_ID }}')">Save</button>
  </div>
  {% endfor %}
</div>

<div id="consolidated-view-section" style="display: none;">
  <h2>Consolidated Plots</h2>
  <table border="1" id="consolidated-plot-table">
    <thead>
      <tr>
        <th>Treatment ID <button onclick="sortTable('treatment_id')">Sort</button></th>
        <th>Replication ID <button onclick="sortTable('replication_id')">Sort</button></th>
        <th>Plot ID <button onclick="sortTable('plot_id')">Sort</button></th>
        <th>Yield</th>
        <th>Units</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="consolidated-plot-body">
      {% for treatment_id, plots in plot_data.items %}
        {% for plot in plots %}
        <tr>
          <td><input type="text" name="treatment_id_{{ treatment_id }}" value="{{ treatment_id }}" readonly></td>
          <td><input type="text" name="replication_id_{{ treatment_id }}_{{ plot.replication_id }}" value="{{ plot.replication_id }}"></td>
          <td><input type="text" name="plot_id_{{ treatment_id }}_{{ plot.replication_id }}" value="{{ plot.plot_id }}"></td>
          <td><input type="text" name="yield_{{ treatment_id }}_{{ plot.replication_id }}" value="{{ plot.yield }}"></td>
          <td><span class="units-value">{{ plot.units }}</span></td>
          <td>
            <button type="button" onclick="deletePlotRow(this)">Delete</button>
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  <button type="button" onclick="addPlotRow()">Add Plot</button>
  <button type="button" onclick="saveConsolidatedPlots()">Save Plots</button>
</div>

<script>
let deletedTreatments = [];
let maxTreatmentId = Math.max(...Array.from(document.querySelectorAll('#treatments-table tr')).map(row => parseInt(row.querySelector('td:first-child').innerText.match(/\d+/)[0], 10))) || 0;

document.addEventListener("DOMContentLoaded", function() {
     // Initialize maxTreatmentId based on existing treatments
     const treatmentRows = document.querySelectorAll('#treatments-table tr');
    maxTreatmentId = 0;

    treatmentRows.forEach(row => {
        const treatmentId = row.id.split('-')[2]; // Get the numeric part of the ID
        const numericPart = parseInt(treatmentId.split('_T')[1], 10);
        if (numericPart > maxTreatmentId) {
            maxTreatmentId = numericPart;
        }
    });

    console.log("Max Treatment ID initialized to:", maxTreatmentId);

    // Fetch plot data for each treatment
    document.querySelectorAll('.card').forEach(function(card) {
        let treatmentId = card.id.split('-')[2];
        fetchPlotData(treatmentId);
    });

    // Set initial units values in plot tables
    const units = document.getElementById('units-select').value;
    console.log("Initial units value:", units);
    document.querySelectorAll('.units-value').forEach(function(element) {
        element.textContent = units;
    });
});

function fetchPlotData(treatmentId) {
    console.log(`Fetching plot data for treatment ID: ${treatmentId}`);
    fetch(`/treatment/${treatmentId}/get_plot_data/`)
    .then(response => response.json())
    .then(data => {
        console.log("Plot data", data);
        if (data.success) {
            console.log(`Plot data retrieved for treatment ID ${treatmentId}:`, data.plot_data);
            for (let replicationId in data.plot_data) {
                let plotInfo = data.plot_data[replicationId];
                console.log(`Setting values for plot_id_${treatmentId}_${replicationId}: ${plotInfo.plot_id}, yield: ${plotInfo.yield}`);
                document.querySelector(`#plot_id_${treatmentId}_${replicationId}`).value = plotInfo.plot_id;
                document.querySelector(`#yield_${treatmentId}_${replicationId}`).value = plotInfo.yield
            }

        } else {
            console.error('Error fetching plot data:', data.error);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

function enableEditing(treatmentId) {
    document.querySelector(`[name="interaction_1_value_${treatmentId}"]`).disabled = false;
    document.querySelector(`[name="interaction_2_value_${treatmentId}"]`).disabled = false;
    document.querySelector(`[name="interaction_3_value_${treatmentId}"]`).disabled = false;
    document.querySelector(`[name="no_of_replication_${treatmentId}"]`).disabled = false;
    document.querySelector(`[name="metadata_${treatmentId}"]`).disabled = false;
}

function deleteTreatment(treatmentId) {
    const row = document.getElementById(`treatment-row-${treatmentId}`);
    row.parentNode.removeChild(row);
    deletedTreatments.push(treatmentId);
}
function addNewRow() {
    const experimentId = '{{ experiment.Experiment_ID }}';

    // Generate new Treatment ID following the correct pattern
    const newTreatmentId = `${experimentId}_T${maxTreatmentId + 1}`; // Use the correct prefix and increment the maximum existing Treatment ID by 1
    maxTreatmentId += 1; // Update the global maxTreatmentId for subsequent new rows

    const newRow = document.createElement('tr');
    newRow.id = `treatment-row-${newTreatmentId}`;

    newRow.innerHTML = `
      <td>${newTreatmentId}</td>
      <td>${experimentId}</td>
      <td><input type="text" name="interaction_1_value_${newTreatmentId}" value=""></td>
      <td><input type="text" name="interaction_2_value_${newTreatmentId}" value=""></td>
      <td><input type="text" name="interaction_3_value_${newTreatmentId}" value=""></td>
      <td><input type="text" name="no_of_replication_${newTreatmentId}" value=""></td>
      <td><input type="text" name="metadata_${newTreatmentId}" value=""></td>
      <td>
        <button type="button" onclick="enableEditing('${newTreatmentId}')">Modify</button>
        <button type="button" onclick="deleteTreatment('${newTreatmentId}')">Delete</button>
      </td>
    `;

    document.getElementById('treatments-table').appendChild(newRow);

    const newPlotTable = document.createElement('div');
    newPlotTable.id = `plot-table-${newTreatmentId}`;
    newPlotTable.classList.add('card');
    newPlotTable.innerHTML = `
      <h3>Treatment-${newTreatmentId}</h3>
      <p>Interaction Values: <span id="interaction-values-${newTreatmentId}"></span></p>
      <p>Units: <span class="units-value"></span></p>
      <table border="1">
        <thead>
          <tr>
            <th>Replication ID</th>
            <th>Plot ID</th>
            <th>Yield</th>
          </tr>
        </thead>
        <tbody>
          <!-- Placeholder for new plots -->
          <tr>
            <td>1</td>
            <td><input type="text" name="plot_id_${newTreatmentId}_1" value=""></td>
            <td><input type="text" name="yield_${newTreatmentId}_1" value=""></td>
          </tr>
          <tr>
            <td>2</td>
            <td><input type="text" name="plot_id_${newTreatmentId}_2" value=""></td>
            <td><input type="text" name="yield_${newTreatmentId}_2" value=""></td>
          </tr>
        </tbody>
      </table>
      <button type="button" onclick="savePlotTable('${newTreatmentId}')">Save</button>
    `;
    document.getElementById('plot-tables-section').appendChild(newPlotTable);

    // Set units for the new plot table
    const units = document.getElementById('units-select').value;
    document.querySelector(`#plot-table-${newTreatmentId} .units-value`).textContent = units;
}

function enableAllInputs() {
    document.querySelectorAll('#treatments-table input').forEach(input => {
        input.disabled = false;
    });
}

function submitTreatments() {
    enableAllInputs();  // Ensure inputs are enabled
    const formData = new FormData(document.getElementById('treatments-form'));
    const treatmentsData = [];
    const csrfToken = formData.get('csrfmiddlewaretoken');

    document.querySelectorAll('#treatments-table tr').forEach(row => {
        const treatmentId = row.querySelector('td:first-child').innerText;
        const interaction_1_value = formData.get(`interaction_1_value_${treatmentId}`)?.trim() || '';
        const interaction_2_value = formData.get(`interaction_2_value_${treatmentId}`)?.trim() || '';
        const interaction_3_value = formData.get(`interaction_3_value_${treatmentId}`)?.trim() || '';
        const no_of_replication = formData.get(`no_of_replication_${treatmentId}`)?.trim() || '';
        const metadata = formData.get(`metadata_${treatmentId}`)?.trim() || '';

        treatmentsData.push({
            treatment_id: treatmentId,
            interaction_1_value: interaction_1_value,
            interaction_2_value: interaction_2_value,
            interaction_3_value: interaction_3_value,
            no_of_replication: no_of_replication,
            metadata: metadata
        });
    });

    fetch('{% url "show_treatments" experiment.Experiment_ID %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
        },
        body: JSON.stringify({
            action: 'submit_all',
            treatments: treatmentsData,
            deleted_treatments: deletedTreatments
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            showSuccessMessage('Treatments submitted successfully!');
        } else {
            showErrorMessage('Error submitting treatments: ' + data.error);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        showErrorMessage('Error submitting treatments. Please try again.');
    });
}

document.getElementById('upload-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(this);
    const csrfToken = formData.get('csrfmiddlewaretoken');
    fetch(this.action, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrfToken
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            showSuccessMessage('CSV uploaded successfully!');
            // Reload the page after successful upload
            setTimeout(() => {
                location.reload();
            }, 2000); // Reload after 2 seconds
        } else {
            showErrorMessage('Error uploading CSV: ' + data.error);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        showErrorMessage('Error uploading CSV. Please try again.');
    });
});

function handleFileUpload(event) {
    const fileName = event.target.files[0].name;
    document.getElementById('uploaded-file-name').textContent = fileName;
    document.getElementById('uploaded-file-link').href = URL.createObjectURL(event.target.files[0]);
    document.getElementById('uploaded-file-info').style.display = 'block';
}

function showSuccessMessage(message) {
    const successMessageDiv = document.getElementById('success-message');
    successMessageDiv.textContent = message;
    successMessageDiv.style.display = 'block';
    successMessageDiv.style.color = 'green';

    setTimeout(() => {
        successMessageDiv.style.display = 'none';
    }, 3000);
}

function showErrorMessage(message) {
    const errorMessageDiv = document.getElementById('error-message');
    errorMessageDiv.textContent = message;
    errorMessageDiv.style.display = 'block';
    errorMessageDiv.style.color = 'red';

    setTimeout(() => {
        errorMessageDiv.style.display = 'none';
    }, 3000);
}


function savePlotTable(treatmentId) {
    const plotData = [];
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const units = document.getElementById('units-select').value; // Get the selected units value
    console.log("Units selected:", units); // Debugging print statement

    document.querySelectorAll(`#plot-table-${treatmentId} tbody tr`).forEach(row => {
        const replicationId = row.querySelector('td:first-child').innerText;
        const plotId = row.querySelector('input[name^="plot_id_"]').value.trim();
        const yieldValue = row.querySelector('input[name^="yield_"]').value.trim();

        plotData.push({
            replication_id: replicationId,
            plot_id: plotId,
            yield: yieldValue,
            units: units // Include the units in the plot data
        });
    });

    fetch(`/treatment/${treatmentId}/save_plot_data/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
        },
        body: JSON.stringify({
            plot_data: plotData
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            showSuccessMessage('Plot data saved successfully!');
        } else {
            showErrorMessage('Error saving plot data: ' + data.error);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        showErrorMessage('Error saving plot data. Please try again.');
    });
}

function toggleView() {
    const viewSelect = document.getElementById('view-select').value;
    const plotTablesSection = document.getElementById('plot-tables-section');
    const consolidatedViewSection = document.getElementById('consolidated-view-section');
    const units = document.getElementById('units-select').value;
    console.log("Toggle view units value:", units); // Debugging print statement

    if (viewSelect === 'distributed') {
        plotTablesSection.style.display = 'flex';
        consolidatedViewSection.style.display = 'none';
    } else {
        plotTablesSection.style.display = 'none';
        consolidatedViewSection.style.display = 'block';
    }

    // Update units value in plot tables when view is toggled
    document.querySelectorAll('.units-value').forEach(function(element) {
        element.textContent = units;
    });
}

function downloadCSV() {
    const units = document.getElementById('units-select').value;
    console.log("Downloading CSV with units:", units); // Debugging print statement
    window.location.href = `{% url "show_treatments" experiment.Experiment_ID %}?download=true&units=${units}`;
}

// Update plot table units based on the selected value
document.getElementById('units-select').addEventListener('change', function() {
    const units = this.value;
    console.log("Units changed to:", units); // Debugging print statement
    document.querySelectorAll('.units-value').forEach(function(element) {
        element.textContent = units;
    });
});

function addPlotRow() {
    const tableBody = document.getElementById('consolidated-plot-body');
    const newRow = document.createElement('tr');
    newRow.innerHTML = `
        <td><input type="text" name="treatment_id_new" value=""></td> <!-- Added Treatment ID column -->
        <td><input type="text" name="replication_id_new" value=""></td>
        <td><input type="text" name="plot_id_new" value=""></td>
        <td><input type="text" name="yield_new" value=""></td>
        <td><span class="units-value">${document.getElementById('units-select').value}</span></td>
        <td><button type="button" onclick="deletePlotRow(this)">Delete</button></td>
    `;
    tableBody.appendChild(newRow);
}

function deletePlotRow(button) {
    const row = button.closest('tr');
    row.parentNode.removeChild(row);
}

function saveConsolidatedPlots() {
    const plotData = [];
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const units = document.getElementById('units-select').value;

    document.querySelectorAll('#consolidated-plot-body tr').forEach(row => {
        const treatmentIdInput = row.querySelector('input[name^="treatment_id"]');
        const replicationIdInput = row.querySelector('input[name^="replication_id"]');
        const plotIdInput = row.querySelector('input[name^="plot_id"]');
        const yieldInput = row.querySelector('input[name^="yield"]');

        if (treatmentIdInput && replicationIdInput && plotIdInput && yieldInput) {
            const treatmentId = treatmentIdInput.value.trim();
            const replicationId = replicationIdInput.value.trim();
            const plotId = plotIdInput.value.trim();
            const yieldValue = yieldInput.value.trim();

            plotData.push({
                treatment_id: treatmentId,
                replication_id: replicationId,
                plot_id: plotId,
                yield: yieldValue,
                units: units
            });
        } else {
            console.error('Missing data for row:', row);
        }
    });

    fetch('/save_consolidated_plots/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
        },
        body: JSON.stringify({
            plot_data: plotData
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            showSuccessMessage('Consolidated plots saved successfully!');
        } else {
            showErrorMessage('Error saving consolidated plots: ' + data.error);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        showErrorMessage('Error saving consolidated plots. Please try again.');
    });
}

function sortTable(column) {
    const table = document.getElementById('consolidated-plot-table');
    const rows = Array.from(table.rows).slice(1);
    let compareFunction;

    if (column === 'treatment_id') {
        compareFunction = (a, b) => a.cells[0].querySelector('input').value.localeCompare(b.cells[0].querySelector('input').value); // Adjusted column index
    } else if (column === 'replication_id') {
        compareFunction = (a, b) => a.cells[1].querySelector('input').value - b.cells[1].querySelector('input').value; // Adjusted column index
    } else if (column === 'plot_id') {
        compareFunction = (a, b) => a.cells[2].querySelector('input').value.localeCompare(b.cells[2].querySelector('input').value); // Adjusted column index
    }

    rows.sort(compareFunction);

    rows.forEach(row => table.appendChild(row));
}
</script>

<style>
  body {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      background-color: #f7ede8;  /* Light Mint Green */
  }
  
  .navbar-brand {
      font-weight: bold;
      color: whitesmoke !important; /* White color for N_trail */
  }
  
  .navbar {
      background-color: #475d21; /* Dark Green color */
  }
  
  .navbar-nav .nav-link {
      font-size: 1.1em;
      color: white !important;
  }
  
  .container {
      background-color: #f2ece7;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(47, 79, 79, 0.1);
      padding: 20px;
      position: relative;
  }
  
  .card-custom {
      background-color: #A9b388 !important; /* Background color */
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(47, 79, 79, 0.1);
      color: #212b0f !important; /* Text color */
      margin-top: 20px;
  }
  
  .dropdown-menu {
      border-radius: 0;
  }
  
  .btn-custom {
      background-color: #5f6f52 !important; /* Custom button color */
      color: #ffffff !important;  /* White text for better visibility */
      border: 1px solid #000000 !important;  /* Black border */
      padding: 5px 10px !important;  /* Smaller padding for smaller buttons */
      font-size: 12px !important;  /* Smaller font size */
  }
  
  .btn-custom:hover {
      background-color: #475d21 !important; /* Slightly darker color on hover */
      color: #ffffff !important;
  }
  
  .card {
      height: 70% !important;  /* Ensure cards take full height */
  }
  
  .col-md-8 {
      max-width: 60% !important;  /* Smaller width for the card before login */
  }
  
  .col-md-6 {
      max-width: 48% !important;
      height: 70% !important; 
      /* Adjust width for both cards to be the same after login */
  }
  
  .para-green {
      color: #212b0f!important;  /* Text color */
  }
  
  .form-group {
      margin-bottom: 15px;
  }
  
  .table {
      margin-top: 20px;
  }

  h1 {
      font-size: 2em;
      color: #333;
      margin-bottom: 20px;
  }

  form {
      max-width: 100%;
      margin: 0 auto;
  }

  table {
      width: 90%;
      border-collapse: collapse;
      margin-bottom: 20px;
      background-color: #f2ece7;
      color: #212b0f;
      border: 2px solid black;  /* Black border around the table */
  }

  table, th, td {
      border: 1px solid black;  /* Black border for table cells */
  }

  th, td {
      padding: 8px;  /* Reduced padding to make the table smaller */
      text-align: left;
  }

  th {
      background-color: #A9b388;
  }

  td input[type="text"] {
      width: 100%;
      padding: 6px;  /* Reduced padding for inputs */
      box-sizing: border-box;
  }

  button {
      background-color: #5f6f52;
      color: white;
      border: 1px solid black;
      padding: 5px 10px;  /* Smaller padding for smaller buttons */
      text-align: center;
      font-size: 12px;  /* Smaller font size */
      cursor: pointer;
      border-radius: 5px;
      margin-right: 10px;
  }

  button:hover {
      background-color: #475d21;
  }

  .view-options {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .view-options label {
      font-weight: bold;
  }

  .view-options select {
      padding: 8px;
      font-size: 14px;
  }

  .view-options button {
      margin-left: 10px;
  }

  #success-message {
      color: green;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
  }

  #error-message {
      color: red;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
  }

  .card {
      border: 1px solid #ddd;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(47, 79, 79, 0.1);
      color: #212b0f;
      margin-top: 20px;
  }

  .card h3 {
      margin-top: 0;
      font-size: 1.25em;
      text-align: center;
  }

  .card table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
  }

  .card table th, .card table td {
      border: 1px solid black;  /* Black border for card table cells */
      padding: 8px;
      text-align: left;
  }

  .card table th {
      background-color: #A9b388;
      text-align: center;
  }

  .card table td input {
      width: 100%;
      box-sizing: border-box;
      padding: 5px;
  }

  #uploaded-file-info {
      margin-top: 10px;
  }

  .flex-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-around;
  }

  .units-value {
      font-weight: bold;
      color: #555;
  }

  #treatments-form {
      margin-bottom: 20px;
  }

  #upload-form {
      margin-top: 20px;
  }

  .consolidated-view-section {
      margin-top: 30px;
  }

  .consolidated-view-section table {
      width: 90%;
      border-collapse: collapse;
  }

  .consolidated-view-section th, .consolidated-view-section td {
      border: 1px solid black;  /* Black border for consolidated view table cells */
      padding: 8px;
      text-align: left;
  }

  .consolidated-view-section th {
      background-color: #A9b388;
      text-align: center;
  }

  .consolidated-view-section td input {
      width: 100%;
      padding: 6px;  /* Reduced padding for inputs */
      box-sizing: border-box;
  }

  .consolidated-view-section button {
      margin-top: 10px;
  }

  .card button {
      margin-top: 10px;
  }
</style>

{% endblock %}
