/* Center-align the form */
.project-form {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center-align the form horizontally */
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Style form fields */
.project-form input[type="text"],
.project-form input[type="number"],
.project-form select,
.project-form textarea {
    width: 100%; /* Make form fields fill the width of the form */
    margin-bottom: 10px; /* Add spacing between form fields */
    padding: 10px; /* Add padding for spacing within form fields */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Style submit button */
.project-form button[type="submit"] {
    width: 100%; /* Make submit button fill the width of the form */
    padding: 10px; /* Add padding for spacing */
    box-sizing: border-box;
    color: brown; /* Ensure padding and border are included in the width */
}
